<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find wrock_husky_description)/urdf/description.xacro'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
  	<remap from="joint_states" to="fused_joint_states" />
  <node/>
</launch>
