<launch>
  <include file="$(find scanning_description)/launch/description.launch" /> 

  <!--- Laser Scanner default="192.168.0.2"
  <arg name="host" default="192.168.0.2"  />
  <node pkg="lms1xx" name="lms1xx" type="LMS1xx_node" output = "screen">
    <param name="host" value="$(arg host)" />
  </node>
-->

  <!--- Run local laser assembler -->
  <node type="laser_scan_assembler" pkg="laser_assembler" name="my_assembler">
    <param name="max_scans" type="int" value="10000" />
    <param name="fixed_frame" type="string" value="base_link" />
    <param name="tf_cache_time_secs" type="double" value="30.0" />
  </node>
    <!--- Run static transform for laser -->
  <node pkg="tf" type="static_transform_publisher" name="kinect_broadcaster" args="0 0 0 0 1.57 0 world fixed_cube_5 100" />


  <!--- Run rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="True" output="screen" args="-d $(find phd)/cfg/rviz_scan.rviz"> 
  </node>

  <!--- Run Powercube node-->
  <node name="cube_node" pkg="phd" type="cube_node" output="screen" />

  <!--- Run Joint State Fusion node-->
  <node name="joint_fusion_node" pkg="phd" type="joint_fusion_node" output="screen" />
  

</launch>
