<launch>

  <!--- Run description  -->
  <include file="$(find wrock_husky_description)/launch/description.launch" />


  <!--- Run localization service -->
  <node type="cloud_localizer" pkg="phd" name="localization_service" output="screen">
  </node>
  <!--- Run trajectory service -->
  <node type="trajectory_server" pkg="phd" name="trajectory_service" output="screen" required="True">
  </node>

  <!--- Run thickness service -->
  <node type="thickness_server" pkg="phd" name="thickness_service" output="screen">
  </node>

  <!--- Run rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="True" output="screen" > 
  </node>
<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="9 0 0 0 0 0 1 base_link world 100" />



</launch>
